<nav class="navbar navbar-expand-xl bg-body-tertiary d-flex justify-content-between">
  <div class="d-none d-sm-block">
    <div class="d-flex justify-content-center align-iten-center">
      <img src="images/ecurie.png" alt="" width="150px" class="p-2">
      <img src="images/ffsa.webp" alt="" width="150px" class="p-2">
    </div>
  </div>
  <div class="d-block d-sm-none">
    <div class="d-flex justify-content-center align-iten-center">
      <img src="images/ecurie.png" alt="" width="140px" class="p-2">
      <img src="images/ffsa.webp" alt="" width="140px" class="p-2">
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="bi bi-list secondary-color h3"></i>
  </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav d-flex text-center">
          <a class="nav-link" href="/actualities" routerLink="/actualities" routerLinkActive="active" ariaCurrentWhenActive="page">Actualités</a>
          <a class="nav-link" href="/saintGoueno" routerLink="/saintGoueno" routerLinkActive="active" ariaCurrentWhenActive="page">Saint-Goueno</a>
          <a class="nav-link" href="#">Festival</a>
          <a class="nav-link" href="/historique" routerLink="/historique" routerLinkActive="active" ariaCurrentWhenActive="page">Historique</a>
          <a class="nav-link" href="/monteeHistorique" routerLink="/monteeHistorique" routerLinkActive="active" ariaCurrentWhenActive="page">Montée historique</a>
          <a class="nav-link" href="/ecurieDuMene" routerLink="/ecurieDuMene" routerLinkActive="active" ariaCurrentWhenActive="page">Ecurie du mené</a>
          <a class="nav-link" href="/photos" routerLink="/photos" routerLinkActive="active" ariaCurrentWhenActive="page">Photos</a>
          <a class="nav-link" href="/videos" routerLink="/videos" routerLinkActive="active" ariaCurrentWhenActive="page">Vidéos</a>
        </div>
      
    </div>
    <div class="d-none d-xl-block">
      <div class="d-flex justify-content-center align-iten-center px-5">
        <i class="bi bi-facebook secondary-color h3"></i>
      </div>
    </div>

  </nav>