<nav class="navbar navbar-expand-xl bg-body-tertiary d-flex justify-content-between">
  <div class="d-none d-sm-block">
    <div class="d-flex justify-content-center align-iten-center">
      <img src="images/ecurie.png" alt="" width="150px" class="p-2">
      <img src="images/ffsa.webp" alt="" width="150px" class="p-2">
    </div>
  </div>
  <div class="d-block d-sm-none">
    <div class="d-flex justify-content-center align-iten-center">
      <img src="images/ecurie.png" alt="" width="140px" class="p-2">
      <img src="images/ffsa.webp" alt="" width="140px" class="p-2">
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="bi bi-list secondary-color h3"></i>
  </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav d-flex text-center">
          <a class="nav-link" href="#">Actualités</a>
          <a class="nav-link" href="#">Festival</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Saint-Goueno
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Situation Géographique</a></li>
              <li><a class="dropdown-item" href="#">Hébergement</a></li>
              <li><a class="dropdown-item" href="#">Tourisme</a></li>
            </ul>
          </li>
          <a class="nav-link" href="#">Historique</a>
          <a class="nav-link" href="#">Montée historique</a>
          <a class="nav-link" href="">Ecurie du mené</a>
          <a class="nav-link" href="">Photos</a>
          <a class="nav-link" href="">Vidéos</a>
        </div>
      
    </div>
    <div class="d-none d-xl-block">
      <div class="d-flex justify-content-center align-iten-center px-5">
        <i class="bi bi-facebook secondary-color h3"></i>
      </div>
    </div>

  </nav>