<div class="container">
    <div class="column">
      <div class="col p-5">
        <p class="text-center secondary-color">Partenaires</p>
        <div class="d-flex flex-column text-center">
          <a class="p-1" href="">Le comité régional du sport automobile Bretagne – Pays de la Loire </a>
          <a class="p-1" href="https://www.lemans.org/">L’Association Sportive de l’Automobile Club de l’Ouest Maine – Bretagne </a>
          <a class="p-1" href="https://www.lemans.org/">L’Automobile Club de l'Ouest </a>
          <a class="p-1" href="">En partenariat avec l’organisateur technique l'écurie du Mené </a>
        </div>
      </div>
      <div class="col p-5">
        <div class="d-flex flex-column justify-content-center">
          <p class="text-center secondary-color py-3">Newsletter</p>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">&#64;</span>
            <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
          </div>
          <input class="btn btn-primary" type="submit" value="Valider">
        </div>
      </div>
    </div>
  </div>